<template>

    <div>

        <h4 class="mt-3">{{ addressType == 1 ? 'Adres korespondencyjny' : 'Adres zamieszkania' }}</h4>

        <label>Województwo:</label>
        <select class="form-control" v-model="formData.voivodeship">
            <option selected disabled value="">Wybierz województwo</option>
            <option value="dolnośląskie">dolnośląskie</option>
            <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
            <option value="lubelskie">lubelskie</option>
            <option value="lubuskie">lubuskie</option>
            <option value="łódzkie">łódzkie</option>
            <option value="małopolskie">małopolskie</option>
            <option value="mazowieckie">mazowieckie</option>
            <option value="opolskie">opolskie</option>
            <option value="podkarpackie">podkarpackie</option>
            <option value="podlaskie">podlaskie</option>
            <option value="pomorskie">pomorskie</option>
            <option value="śląskie">śląskie</option>
            <option value="świętokrzyskie">świętokrzyskie</option>
            <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
            <option value="wielkopolskie">wielkopolskie</option>
            <option value="zachodniopomorskie">zachodniopomorskie</option>
        </select>

        <label>Miasto:</label>
        <input type="text" v-model="formData.city" class="form-control" placeholder="Podaj miasto...">

        <label>Kod pocztowy:</label>
        <input type="text" v-model="formData.code" class="form-control" placeholder="Podaj kod pocztowy...">

        <label>Ulica:</label>
        <input type="text" v-model="formData.street" class="form-control" placeholder="Podaj ulicę...">

        <label>Numer:</label>
        <input type="text" v-model="formData.number" class="form-control" placeholder="Podaj numer...">

    </div>

</template>

<script>
export default {
    props: {
        addressType: Number
    },
    data() {
        return {
            formData: {
                type: this.addressType,
                voivodeship: '',
                city: '',
                code: '',
                street: '',
                number: ''
            }
        }
    },
    watch: {
        formData: {
            handler: function() {
                this.$emit('addressData', this.formData);
            },
            deep: true
        }
    }
}
</script>
