<template>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Dodaj nowego uzytkownika:</div>

            <div class="card-body">

                <div class="form-group">

                    <h4>Dane osobowe:</h4>

                    <label>Imię:</label>
                    <input type="text" v-model="newUser.firstName" class="form-control" placeholder="Podaj imię...">

                    <label>Nazwisko:</label>
                    <input type="text" v-model="newUser.lastName" class="form-control" placeholder="Podaj nazwisko...">

                    <label>E-mail:</label>
                    <input type="email" v-model="newUser.email" class="form-control" placeholder="Podaj e-mail...">

                    <label>Hasło:</label>
                    <input type="password" v-model="newUser.password" class="form-control" placeholder="Podaj hasło...">

                    <label>Rola użytkownika:</label>
                    <select class="form-control" v-model="newUser.role">
                        <option value="0" selected disabled>Wybierz rolę użytkownika</option>
                        <option v-for="role in roles" v-bind:key="role.id" v-bind:value="role.id">{{
                                role.name
                            }}
                        </option>
                    </select>

                    <div v-if="newUser.role == 1" class="form-group">

                        <label>Telefon:</label>
                        <input type="text" v-model="newUser.phone" class="form-control" placeholder="Podaj telefon...">


                        <label>Wykształcenie:</label>
                        <input type="text" v-model="newUser.education" class="form-control"
                               placeholder="Podaj wykształcenie...">

                    </div>

                    <div v-else-if="newUser.role == 2" class="form-group">

                        <address-component :address-type="1"
                                           @addressData="handleAddressData($event)"></address-component>

                        <address-component :address-type="2"
                                           @addressData="handleAddressData($event)"></address-component>

                    </div>

                    <button class="btn btn-outline-primary my-3 float-end" type="button" @click="createUser()">Dodaj
                        użytkownika
                    </button>


                </div>

            </div>
        </div>
    </div>

</template>

<script>
import AddressComponent from "./AddressComponent";

export default {
    components: {AddressComponent},
    data() {
        return {
            roles: [],
            newUser: {
                firstName: '',
                lastName: '',
                email: '',
                password: '',
                role: 0,
                phone: '',
                education: '',
                address_c: null,
                address_l: null,
            }
        }
    },
    created() {
        this.fetchRoles();
    },
    methods: {
        fetchRoles() {

            axios.get('api/users/roles')
                .then(response => {

                    this.roles = response.data;

                });

        },
        handleAddressData: function (e) {

            if (e.type == 1) this.newUser.address_c = e; else this.newUser.address_l = e;

        },
        createUser() {

            if(this.newUser.role == 0) {
                alert('Wybierz typ konta!');
                return;
            }

            if(confirm('Czy na pewno chcesz stworzyć tego użytkownika?')) {

                axios.post('api/users', this.newUser)
                    .then(response => {

                        alert('Pomyślnie dodano nowego uzyutkownika!');

                    })
                    .catch(error => {

                        if(error.response.data.error == undefined) alert('Nie udało się dodać użytkownika');

                        alert(error.response.data.error);

                    });

            }

        }
    }
}
</script>
