<template>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <span style="line-height: 37px;">Lista użytkowników:</span>

                <div class="input-group float-end" style="max-width: 350px">
                    <input type="text" class="form-control" id="search-field" v-on:keyup="checkSearchKeys"
                           v-model="userSearchInput" placeholder="Imię, nazwisko lub e-mail">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" @click="searchUsers()">Szukaj</button>
                    </div>
                </div>

            </div>

            <div class="card-body">

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Email</th>
                        <th>Rola</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users" v-bind:key="user.id">
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role.name }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="card-footer">

                <button class="btn btn-outline-primary float-start" @click="prevPage()" v-bind:class="[{disabled: isFirstPage}]">
                    Poprzednia strona
                </button>
                <button class="btn btn-outline-primary float-end" @click="nextPage()" v-bind:class="[{disabled: isLastPage}]">
                    Następna strona
                </button>

            </div>
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            users: [],
            currentPage: 1,
            isFirstPage: true,
            isLastPage: false,
            userSearchInput: ''
        }
    },
    created() {
        this.fetchUsers();
    },
    methods: {
        fetchUsers() {

            if (this.currentPage == 1) this.isFirstPage = true;

            axios.get('api/users?page=' + this.currentPage)
                .then(response => {

                    this.users = response.data;

                    this.isLastPage = (Object.keys(response.data).length < 10);

                });

        },
        nextPage() {
            this.currentPage++;
            this.isFirstPage = false;
            this.fetchUsers();
        },
        prevPage() {
            this.currentPage--;
            this.isLastPage = false;
            this.fetchUsers();
        },
        checkSearchKeys(event) {

            if (event.key == "Enter") {

                this.searchUsers();

            }
        },
        searchUsers() {

            if (this.userSearchInput == 0) {
                this.currentPage = 1;
                this.fetchUsers();
                return;
            }

            if (this.userSearchInput.length < 3) {
                alert('Szukany tekst musi mieć przynajmniej 3 znaki');
                return;
            }

            if (this.currentPage == 1) this.isFirstPage = true;

            axios.get('api/users/search?search=' + encodeURIComponent(this.userSearchInput) + '&page=' + this.currentPage)
                .then(response => {

                    this.users = response.data;

                    this.isLastPage = (Object.keys(response.data).length < 10);

                });

        }
    }
}
</script>
